.headBanner {
  position: relative;
  height: 100vh;
}

.headBanner .bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  background: url(/images/aboutBG.png) no-repeat;
  background-size: auto 100%;
  filter: blur(4px);
}

.headBanner .bg div {
  background-color: #996e44ff;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  opacity: 0.3;
}

.headBanner div {
  position: absolute;
  right: 0;
  word-spacing: 2rem;
  text-align: center;
  padding: 3rem;
  top: 45%;
  bottom: 50%;
  color: white;
}

.headBanner .pc {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  width: 50%;
}

.headBanner .pc h5 {
  font-size: 2.5rem;
}

.headBanner .mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.75rem;
  width: 100%;
}

.headBanner .mobile h6 {
  font-size: 3rem;
}

.info {
  margin-bottom: -1rem;
  flex-direction: column;
  width: 50%;
  background-color: #996e44ff;
  color: white;
  padding: 4rem;
  text-align: justify;
}

.info h5 {
  display: inline-flex;
  padding: 1rem;
  background-color: white;
  color: #996e44ff;
  font-weight: 600;
  margin-bottom: 2rem;
}

.info span {
  display: block;
  margin-bottom: 2rem;
}

.info div {
  font-weight: bold;
  background-color: white;
  color: #996e44ff;
}

.info div a {
  color: #996e44ff;
}

.info div:hover {
  border: 2px solid white;
  background-color: #996e44ff;
}

.info div:hover a {
  color: white;
}

@media screen and (max-width: 992px) {
  .headBanner img {
    width: 100px !important;
  }

  .headBanner .mobile h6 {
    font-size: 1.5rem;
  }

  .info {
    width: 100%;
  }

  .info h5 {
    font-size: 2rem;
  }
}
