@keyframes infiSlide {
  to {
    background-position: -100vw 0;
  }
}

body {
  padding: 0 40px;
  background-color: #996e44ff;
  overflow: hidden;
}

.bg {
  animation: infiSlide 4s linear infinite;
  background: url(/images/index.png) repeat;
  filter: blur(8px);
  background-size: 100vw auto;
  position: absolute;
  top: 0;
  left: 0;
}

.bg div {
  height: 100vh;
  width: 100vw;
  opacity: 0.7;
  background-color: #996e44ff;
}

.welcomePage {
  height: 100vh;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(4em);
}

.welcomeMessage p {
  font-size: 2em;
  margin-top: -5px;
}

.links ul,
.pages ul {
  display: flex;
  flex-direction: row;
}

.pages {
  margin-top: -20px;
}

.pages {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pages ul li {
  padding: 0 60px;
  background-color: white;
  transition: 100ms ease-in-out;
}

.pages ul li a {
  color: #996e44ff;
}

.pages ul li a h5 {
  font-size: 1.5em;
}

.links ul li {
  margin: 0px 30px;
  transition: 100ms ease-in-out;
}

.links ul li:hover {
  transform: translateY(-4px);
  box-shadow: 0 5px 0px white;
  transition: 100ms ease-in-out;
}

.pages ul li:hover a {
  color: white;
  transition: 100ms ease-in-out;
}

.pages ul li:hover {
  background-color: #996e44ff;
  transition: 100ms ease-in-out;
}

.indexNav {
  position: fixed;
  width: 100vw;
  left: 0;
  bottom: 0;
}

.indexNav .navbar-fixed {
  background-color: white;
}

.indexPages {
  display: flex;
  justify-content: center;
  align-items: center;
}

.indexPages li a {
  margin: 0 9px;
  text-decoration: underline solid 3px #996e44ff;
  color: #996e44ff;
}
