body {
  padding: 0 40px;
  background-color: #996e44ff;
  overflow-y: hidden;
}

.welcomePage {
  height: 100vh;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(4em);
}

.welcomeMessage p {
  font-size: 2em;
  margin-top: -5px;
}

.links ul,
.pages ul {
  display: flex;
  flex-direction: row;
}

.pages {
  margin-top: -20px;
}

.pages {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pages ul li {
  padding: 0 60px;
  background-color: white;
  transition: 100ms ease-in-out;
}

.pages ul li a {
  mix-blend-mode: difference;
}

.pages ul li a h5 {
  font-size: 1.5em;
}

.links ul li {
  margin: 0px 30px;
  transition: 100ms ease-in-out;
}

.links ul li:hover {
  transform: translateY(-4px);
  transition: 100ms ease-in-out;
}

.pages ul li:hover a {
  mix-blend-mode: normal;
  color: white;
  transition: 100ms ease-in-out;
}

.pages ul li:hover {
  background-color: #996e44ff;
  transition: 100ms ease-in-out;
}
