@keyframes slide {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-1366px); /* The image width */
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: #171717;
}

/* Navigation Bar */

.nav-wrapper {
  padding: 0 40px;
  background-color: #996e44ff;
}

.brand-logo img {
  position: absolute;
  top: 18px;
  left: 18px;
}

/* On Large Screens */
.list li a {
  color: white !important;
}
.list li:hover {
  background-color: #171717;
}

/* On Small Screens */
.menu {
  position: absolute;
  right: -20px;
  font-size: 40px !important;
}

/* Inside Side Navigation */

.closeButton {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 40px !important;
}

.sidenav {
  background-color: #171717;
}

.choices {
  padding-top: 50px;
}

.choices li a {
  color: rgb(183, 175, 175);
}

.choices li:hover {
  background-color: #996e44ff;
  transition: 300ms ease-in-out;
}

/* Parallax Container */
.section1 {
  margin-top: -70px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Description Design */
.section1Description div {
  position: absolute;
  left: 0;
}

.section1Description div img {
  position: relative;
  margin-top: -20rem;
}

/* Description 1 */
.section1Description {
  text-align: justify;
  margin: 75px;
}

@media screen and (max-width: 600px) {
  .brand-logo img {
    position: absolute;
    top: 15px;
    left: 16px;
  }

  .section1 {
    height: 75vh;
  }
}
